
# Configuration files
/config/dev.php
/config/prod.php

# Dependency manager (Bower, Composer & NPM)
/node_modules/*
!node_modules/.gitkeep
/vendor/*
!vendor/.gitkeep
/vendor-front/*
!vendor-front/.gitkeep
/composer.lock

# Var
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
