<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Silex Bootstrapper{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ app.request.basepath }}/favicon.ico" />
        {% block meta %}
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
